In [201]:
import pandas as pd
import matplotlib.pyplot as plt

In [202]:
df = pd.read_csv('data_pack\complete_data.csv')

In [203]:
df

,gender,age,cc_week_1,cc_week_2,cc_week_3,cc_week_4,cc_week_5,cc_week_6,cc_week_7,cc_week_8,...,ocp_3,ocp_4,ocp_5,ocp_6,ocp_7,ocp_8,ocp_9,ocp_11,ocp_12,ocp_13
0,2,5,0.0,0.0,4700.0,0.0,0.0,0.0,20000.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,2,4,1600.0,0.0,0.0,3500.0,2600.0,800.0,0.0,3800.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2,4,0.0,0.0,5000.0,2000.0,0.0,5000.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64995,2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
64996,2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
64997,1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
64998,2,3,0.0,900.0,0.0,1000.0,0.0,0.0,0.0,2400.0,...,1,0,0,0,0,0,0,0,0,0
64999,2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0

In [209]:
age_dummy = pd.get_dummies(df['age'], prefix='age')

In [210]:
age_dummy

       age_2  age_3  age_4  age_5  age_6
0          0      0      0      1      0
1          0      0      1      0      0
2          0      1      0      0      0
3          0      0      0      1      0
4          0      0      1      0      0
...      ...    ...    ...    ...    ...
64995      1      0      0      0      0
64996      1      0      0      0      0
64997      0      1      0      0      0
64998      0      1      0      0      0
64999      0      0      1      0      0

[65000 rows x 5 columns]

In [234]:
new_df = pd.concat([df, age_dummy], axis=1)

In [235]:
new_df.drop('age', axis=1, inplace=True)

In [238]:
new_df.to_csv('new_complete_df.csv', index=False)