In [44]:
import numpy as np
import pandas as pd
from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline, make_union
from tpot.builtins import StackingEstimator

In [45]:
df = pd.read_csv('data_pack/complete_data.csv')

In [51]:
train = pd.read_csv('data_pack/train.csv')
train.drop('id', axis=1, inplace=True)

In [57]:
tpot_data = df[0:50000]
tpot_data['income'] = train[0:50000]

C:\Users\INDY\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [59]:
tpot_data

,gender,age,cc_week_1,cc_week_2,cc_week_3,cc_week_4,cc_week_5,cc_week_6,cc_week_7,cc_week_8,...,ocp_4,ocp_5,ocp_6,ocp_7,ocp_8,ocp_9,ocp_11,ocp_12,ocp_13,income
0,2,5,0.0,0.0,4700.0,0.0,0.0,0.0,20000.0,0.0,...,0,0,0,0,0,1,0,0,0,20000
1,2,4,1600.0,0.0,0.0,3500.0,2600.0,800.0,0.0,3800.0,...,0,0,0,0,0,0,0,0,0,106000
2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,29000
3,2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,61000
4,2,4,0.0,0.0,5000.0,2000.0,0.0,5000.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,18000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,4,1500.0,0.0,0.0,0.0,1600.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,48000
49996,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,37000
49997,2,2,0.0,0.0,0.0,0.0,0.0,1700.0,3000.0,0.0,...,0,0,0,0,0,1,0,0,0,19000
49998,2,3,9500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,13000
49999,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,21000

In [66]:
# NOTE: Make sure that the class is labeled 'target' in the data file
# tpot_data = pd.read_csv('PATH/TO/DATA/FILE', sep='COLUMN_SEPARATOR', dtype=np.float64)
features = tpot_data.drop('income', axis=1).values
training_features, testing_features, training_target, testing_target = \
            train_test_split(features, tpot_data['income'].values, random_state=None)

# Average CV score on the training set was:-2027027090.362114
exported_pipeline = make_pipeline(
    StackingEstimator(estimator=ExtraTreesRegressor(bootstrap=True, max_features=0.2, min_samples_leaf=10, min_samples_split=15, n_estimators=100)),
    RandomForestRegressor(bootstrap=True, max_features=0.2, min_samples_leaf=20, min_samples_split=11, n_estimators=100)
)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

In [67]:
# results

In [68]:
print(exported_pipeline.score(testing_features, testing_target))

0.28123082519260245